<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Successfully sent!!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" crossorigin href="../public/index-PB9pcFDx.css">
    <style>
        body{
            margin-inline: 7%;
            background-color: #f4f4f4;
        }
        h1{
            font-size: 2rem;
        }
        p{
          position: absolute;
          bottom: 0;
          left: 40%;
        }
        a{
          text-decoration: none;
          color: black;
        }
    </style>
</head>
<body>
    <div className="mt-[30px] ">
        <h1 className="sm:text-[2.5rem] xs:text-[1.3rem] ss:text-[2rem] font-bold">
          Message succesfuly sent 
        </h1>
        <h1 className="sm:text-[2.3rem] ss:text-[1.5rem] xs:text-[1.2rem]">
          We'll reply instantly .
        </h1>

        <p style="text-align: center;" className="mt-10 footer mb-4">
          Crafted with <i class="fa-solid fa-heart" style= "color: red"></i>
          by
          <a href="https://wa.me/+2349029862215"> Chux Dennis</a>
        </p>
      </div>
</body>
</html>